.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--black-color);
    border-bottom: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 5;
    top: 0;
    width: 98%;
}

.header h1 {
    font-size: 20px;
}

.logo img {
    width: 120px;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline;
    margin: 8px;
}

.nav ul li a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 500;
}

.user .button {
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 3px;
}

.user button:hover {
    background-color: var(--2-blue-color);
}